In [29]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [57]:
PATH = 'names\/'

def count_top3(list_year):
    names_by_year = {}
    for year in list_year:
        file_name =  PATH + 'yob' + str(year) + '.txt'
        names_by_year[year] = pd.read_csv(file_name.format(year), names=['Name','Gender','Count'])
    
    names_all = pd.concat(names_by_year)
    top_name = names_all.groupby('Name').sum().sort_values(by='Count', ascending=False).head(3)
    return top_name

In [74]:
def count_dynamics(list_year):
    names_by_year = {}
    for year in list_year:
        file_name =  PATH + 'yob' + str(year) + '.txt'
        names_by_year[year] = pd.read_csv(file_name.format(year), names=['Name','Gender','Count'])
    
    names_all = pd.concat(names_by_year, names=['Year', 'Pos'])
    top_name = names_all.groupby([names_all.index.get_level_values(0), 'Gender']).sum()
    return top_name

In [76]:
list_year = [1900, 1950, 2000]
print(count_top3(list_year))
print(count_dynamics(list_year))

         Count
Name
James   111795
John    109595
Robert  101381
               Count
Year Gender
1900 F        299810
     M        150486
1950 F       1713259
     M       1790871
2000 F       1814922
     M       1962744